#title_splash{
    /*font-size: 24px;
    margin-left: -10rem;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;*/
}
#title_text{
    font-size: 5em;
}
#dark_mode{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0);
}
#dark_mode:hover{
    cursor: pointer;
}
.light-mode{
    transition: background-color 0.5s ease;
    background-color: white;
    color: #202024;
}
.dark-mode{
    transition: background-color 0.5s ease;
    background-color: #202024;
    color: white;
}
.f-cm{
    font-family: 'Cutive Mono', monospace;
}
.f-mm{
    font-family: 'Major Mono Display', monospace;
}
.f-vt323{
    font-family: 'VT323', monospace;
}
.f-stm{
    font-family: 'Share Tech Mono', monospace;
}