/*-=[Zeitgeist Main]=-*//*
This file is the master stylesheet for the whole project. Its also a clusterfuck.


 */
.c-red{
    color: red;
}
.c-blue{
    color: blue;
}
.c-green{
    color: green;
}
.c-purple{
    color:purple;
}
.c-yellow{
    color: yellow;
}
.c-orange{
    color:orange;
}
.c-pink{
    color: pink;
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-bg-lightblue{
    background-color: #1f3e91;
}

.item{
    word-wrap: break-word;
    margin: 3px;
}
.user-img{
    max-width: 80px;
    min-width: 80px;
}
.user-img-large{
    max-width: 180px;
    min-width: 180px;
}


.cstm-border{
    border: 8px solid transparent;
    border-radius: 5px;
    border-image-source: url('https://i.ibb.co/M6Dyff9/customborder.png');
    border-image-repeat: repeat;
    border-image-slice: 30%;

    /*border-top-right-radius: 10px;
    border-top-left-radius: 10px;*/
}

.f-scp{
    font-family: "Source Code Pro", sans-serif;
}
.f-ps2p{
    font-family: 'Press Start 2P', sans-serif;
}
.messenger{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-height: 300px;
}
.message{
    margin-top: 5px;
    border-bottom: 1px solid deepskyblue;
}
.m-sender-1{
    border-right: 1px solid deepskyblue;
}
.m-sender-2{
    border-left: 1px solid deepskyblue;
}
.timestamp{
    font-size: 8pt;
    font-style: italic;
    color: dimgrey;
    float: right;
}
.standard-container{
    background-color: #000035;
    color: white;
}
.header-text{
     font-family: 'Press Start 2P', sans-serif;!important;
     background: -webkit-linear-gradient(orangered, gold);!important;
     -webkit-background-clip: text;!important;
     -webkit-text-fill-color: transparent;!important;
     filter: drop-shadow(2px 2px black);!important;
}
.nav-container{
    background: -webkit-linear-gradient(#000035,#0079d7, #000035);
    color: yellow;
    text-align: center;
    padding-top: 1rem;
}
.nav-item-style{
    list-style-type: none; !important;
    background: -webkit-linear-gradient(orangered, gold); !important;
    -webkit-background-clip: text; !important;
    -webkit-text-fill-color: transparent; !important;
    font-family: 'Press Start 2P', sans-serif; !important;
    color: yellow; !important;
    font-size: 3vh; !important;
    min-font-size: 24px;
    filter: drop-shadow(2px 2px black); !important;
    display: inline-block;
    min-width: 100px;
    border-left: solid gray 2px;
    border-right: solid gray 2px;
    padding-left: 3px;
    padding-right: 3px;
    /*text-shadow: 2px 2px black;*/
}
.nav-item-style:hover{
    cursor: pointer;
}
.spacer{
    display: block;
    min-height: 10vh;
}
.spacer2{
    display: block;
    min-height: 1rem;
}

/*-=[The Moving Background]=-*/
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -192px 192px; }
}

#animate-area	{
    background-image: url('https://i.ibb.co/YLMfCFw/pixil-frame-0-2.png');
    background-color: #0f0135;
    background-position: 0px 0px;
    background-repeat: repeat;
    min-height: 100vh;
    animation: animatedBackground 4s linear infinite;
}

.tabcontent{
    display: none;
}

table, th, td {
    border: 1px solid white;
    padding: 5px;
}